<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="gem" version="1">
    <about>
        <name>Gem plugin</name>
        <version>0.2</version>
        <target-go-version>21.1.0</target-go-version>
        <description>Plugin that polls a Ruby Gem repository</description>
        <vendor>
            <name>Srinivas</name>
            <url>https://github.com/srinivasupadhya/gem-repo-poller</url>
        </vendor>
    </about>
</go-plugin>
